.filter_btn_active{
  background:#ffc107;
  border-radius:100px;
  width:50px;
  min-width: 30px;
  height:30px;
  font-family:HelveticaNeue-Light;
  font-size:14px;
  color:#4a4a4a;
  line-height:17px;
  text-align:center;
  text-transform: inherit;
  margin: 6px 2px;
}

.filter_btn{
  margin: 6px 2px;
  background:#308529;
  border:1px solid #1d6417;
  border-radius:100px;
  width:75px;
  height:28px;
  font-family:HelveticaNeue-Light;
  font-size:14px;
  color:#ffffff;
  line-height:17px;
  text-align:left;
  text-transform: inherit;
}
.card-media{
  background: red;
  margin-top: 1px;
  width:120px;
  height:155px;
  float: left;
  margin-right: 10px;
}
