<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="onBackButtonClick()" class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon='assets/icons/back.svg'></md-icon>
      </md-button>
      <h2>
        <span flex>Field Details</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout-fill>
    <md-tabs md-stretch-tabs="always " md-align-tabs="center center " md-dynamic-height="false " layout-fill>
      <md-tab label="Details ">
        <div layout-fill>
          <md-content>
            <div flex layout="column " class="detail-field " layout-fill>
              <img src='/assets/images/field1.jpg'>
              <div class="md-padding content ">
                <h3>Baldium Sports</h3>
                <div flex layout="row " layout-align="beginning end ">
                  <div class="address ">
                    800 W Tower Ave, Oakland, CA 94501
                  </div>
                  <div>
                    <img class="vending " src="/assets/icons/vending.png ">
                  </div>
                  <div flex class="safety " layout="row " layout-align="end end ">
                    <div class="safety-item " ng-repeat="safetyness in getSafetyness(selectedField) track by $index ">
                      <div>
                        <img src="/assets/icons/safety.png ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div flex layout-fill layout="column " class="md-padding ">
              <div flex layout="row " class="detail-row first-row ">
                <div flex layout="column ">
                  <h3>Gender</h3>
                  <div flex layout-fill layout="row " class="gender ">
                    <div>
                      <img src="/assets/icons/female.png ">
                    </div>
                    <div>
                      <img src="/assets/icons/male.png ">
                    </div>
                  </div>
                </div>
                <div flex layout="column ">
                  <h3>Available Equipment</h3>
                  <div flex layout-fill layout="row " class="equipment ">
                    <img src="/assets/icons/cleats.png ">
                    <img src="/assets/icons/shirt.png ">
                    <img src="/assets/icons/ball.png ">
                    <img src="/assets/icons/light.png ">
                    <img src="/assets/icons/water.png ">
                    <img src="/assets/icons/pump.png ">
                  </div>
                </div>
              </div>
              <div flex layout="row " class="detail-row ">
                <div flex layout="column ">
                  <h3>Hours</h3>
                  <div>3:00 PM - 5:00 PM</div>
                  <div>04/03/2016</div>
                </div>
                <div flex layout="column ">
                  <h3>Weather</h3>
                  <div>
                    <img class="weather " src="/assets/icons/weather.png ">
                  </div>
                </div>
              </div>
              <div flex layout="row " class="detail-row ">
                <div flex layout="column ">
                  <h3>Available Spots</h3>
                  <div flex layout="row ">
                    <span class="avail ">3</span>
                    <span class="sep ">/</span>
                    <span class="cap ">22</span>
                  </div>
                </div>
                <div flex layout="column ">
                  <h3>Skill Level</h3>
                  <div class="skill ">
                    <img src="/assets/icons/gold_badge.png ">
                    <span class>Gold</span>
                  </div>
                </div>
              </div>
              <div flex layout-fill class="swipe-field " md-swipe-left="onSwipeLeft() ">
                <img class="swipe-ball " src="/assets/icons/ball.png ">
                <span class="no-select ">Check me in!</span>
                <md-icon md-font-icon="android " aria-label="android "></md-icon>
              </div>
            </div>
          </md-content>
        </div>
      </md-tab>
      <md-tab label="Equipment">
        <div layout-fill layout="column">
          <md-content layout-fill>
            <section layout="row " layout-sm="column " layout-align="center start " layout-wrap>
              <md-button class="filter_btn_active ">All</md-button>
              <md-button class="filter_btn ">
                <md-icon md-svg-icon="action:launch "></md-icon>Cleats</md-button>
              <md-button class="filter_btn ">
                <md-icon md-svg-icon="action:launch "></md-icon>Jerseys</md-button>
              <md-button class="filter_btn ">
                <md-icon md-svg-icon="action:launch "></md-icon>Balls</md-button>
            </section>
            <div layout-fill>
              <md-card>
                <md-card-title class="custom-card ">
                  <md-card-title-media class="custom-media-title ">
                    <div flex class="custom-media">
                      <img src="/assets/images/img1.png" class="custom-media">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <div layout-fill layout="column">
                      <div layout="row">
                        <span class="label-main-heading">FG Shoes</span>
                        <span class="label-sub-heading">Available</span>
                      </div>
                      <div layout="row">
                        <div layout="column" class="custom-item-info">
                          <span class="label-pre-heading">Size</span>
                          <span class="label-diff-heading">6.5</span>
                        </div>
                        <div layout="column" class="custom-item-info">
                          <span class="label-pre-heading">Brands</span>
                          <span class="label-diff-heading">Nike</span>
                        </div>
                        <div layout="column " class="custom-item-info-temp ">
                          <span class="label-pre-heading ">Condition</span>
                          <span class="label-diff-heading ">Like New</span>
                        </div>
                      </div>
                      <div layout="row " layout-align="end end ">
                        <md-button class="reserve_btn ">Reserve</md-button>
                      </div>
                    </div>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
              <md-card>
                <md-card-title class="custom-card">
                  <md-card-title-media class="custom-media-title">
                    <div flex class="custom-media">
                      <img src="/assets/images/img2.png" class="custom-media">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <div layout-fill layout="column">
                      <div layout="row">
                        <span class="label-main-heading">Jerseys</span>
                        <span class="label-sub-heading">Available</span>
                      </div>
                      <div layout="row ">
                        <div layout="column " class="custom-item-info ">
                          <span class="label-pre-heading ">Size</span>
                          <span class="label-diff-heading ">M</span>
                        </div>
                        <div layout="column " class="custom-item-info ">
                          <span class="label-pre-heading ">Brands</span>
                          <span class="label-diff-heading ">Nike</span>
                        </div>
                        <div layout="column" class="custom-item-info-temp">
                          <span class="label-pre-heading">Condition</span>
                          <span class="label-diff-heading">New</span>

                        </div>

                      </div>


                      <div layout="row " layout-align="end end ">
                        <md-button class="reserve_btn ">Reserve</md-button>
                      </div>
                    </div>


                  </md-card-title-text>

                </md-card-title>

              </md-card>

              <md-card>
                <md-card-title class="custom-card">
                  <md-card-title-media class="custom-media-title">
                    <div flex class="custom-media">
                      <img src="/assets/images/img3.png" class="custom-media">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <div layout-fill layout="column">
                      <div layout="row">
                        <span class="label-main-heading">Jerseys</span>
                        <span class="label-sub-heading">Available</span>
                      </div>
                      <div layout="row ">
                        <div layout="column " class="custom-item-info ">
                          <span class="label-pre-heading ">Size</span>
                          <span class="label-diff-heading ">M</span>
                        </div>
                        <div layout="column" class="custom-item-info">
                          <span class="label-pre-heading">Brands</span>
                          <span class="label-diff-heading">Adidas</span>
                        </div>
                        <div layout="column" class="custom-item-info-temp">
                          <span class="label-pre-heading">Condition</span>
                          <span class="label-diff-heading">Like New</span>
                        </div>

                      </div>


                      <div layout="row " layout-align="end end ">
                        <md-button class="reserve_btn ">Reserve</md-button>
                      </div>
                    </div>


                  </md-card-title-text>

                </md-card-title>

              </md-card>

              <md-card>
                <md-card-title class="custom-card">
                  <md-card-title-media class="custom-media-title">
                    <div flex class="custom-media">
                      <img src="/assets/images/img4.png" class="custom-media">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <div layout-fill layout="column">
                      <div layout="row">
                        <span class="label-main-heading">AG Shoes</span>
                        <span class="label-sub-heading">Available</span>
                      </div>
                      <div layout="row">
                        <div layout="column" class="custom-item-info">
                          <span class="label-pre-heading">Size</span>
                          <span class="label-diff-heading">7</span>
                        </div>
                        <div layout="column " class="custom-item-info ">
                          <span class="label-pre-heading ">Brands</span>
                          <span class="label-diff-heading ">Nike</span>
                        </div>
                        <div layout="column " class="custom-item-info-temp ">
                          <span class="label-pre-heading ">Condition</span>
                          <span class="label-diff-heading ">Like New</span>

                        </div>

                      </div>


                      <div layout="row " layout-align="end end ">
                        <md-button class="reserve_btn ">Reserve</md-button>
                      </div>
                    </div>


                  </md-card-title-text>

                </md-card-title>

              </md-card>
              <md-card>
                <md-card-title class="custom-card">
                  <md-card-title-media class="custom-media-title">
                    <div flex class="custom-media">
                      <img src="/assets/images/img5.png" class="custom-media">
                    </div>
                  </md-card-title-media>
                  <md-card-title-text>
                    <div layout-fill layout="column">
                      <div layout="row">
                        <span class="label-main-heading">Ball</span>
                        <span class="label-sub-heading">Available</span>
                      </div>
                      <div layout="row">
                        <div layout="column" class="custom-item-info">
                          <span class="label-pre-heading">Size</span>
                          <span class="label-diff-heading">5</span>
                        </div>
                        <div layout="column " class="custom-item-info ">
                          <span class="label-pre-heading ">Brands</span>
                          <span class="label-diff-heading ">Nike</span>
                        </div>
                        <div layout="column " class="custom-item-info-temp ">
                          <span class="label-pre-heading ">Condition</span>
                          <span class="label-diff-heading ">Like New</span>

                        </div>

                      </div>


                      <div layout="row" layout-align="end end">
                        <md-button class="reserve_btn">Reserve</md-button>
                      </div>
                    </div>


                  </md-card-title-text>

                </md-card-title>

              </md-card>
            </div>
          </md-content>
        </div>
      </md-tab>
    </md-tabs>
  </div>
</div>