  .angular-google-map-container {
    height: 100%;
  }
  .angular-google-map {
    height: 100%;
  }
  md-bottom-sheet.place-marker {
    height: 220px;
    padding: 0px;
    bottom: 80px;
  }
  .carousel-indicators {
    bottom: none;
    top: 10px;
  }
  .carousel-info {
    color: white;
    bottom: 10px;
    position: absolute;
  }
  md-bottom-sheet.place-marker > div {
    height: 220px;
  }
  #field-carousel .carousel .carousel-caption h3 {
    margin-top: 0px;
  }
  #field-carousel .carousel .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 0%;
    z-index: 10;
    padding: 0px 12px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  img#av {
    height: 11px;
    margin-bottom: 2px;
    padding-right: 2px;
  }
  #field-carousel .carousel {
    height: 220px;
  }
  #field-carousel .carousel .carousel-inner {
    height: 100% !important;
  }
  .glyphicon-chevron-right:before {
    content: "\e080";
    color: yellow;
  }
  .safety img {
    width: auto !important;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .address {
    font-size: 12px;
  }
  .carousel-header {
    position: absolute;
    right: 20px;
    color: #fff;
    top: 10px;
  }
  .fa-1-5x {
    font-size: 16px !important;
  }
  .carousel-indicators {
    height: 10%;
  }
  .equipment img {
    width: auto;
    height: 20px;
    margin-right: 6px;
    margin-left: 0px;
  }
  .weather {
    width: 119px;
    height: auto;
  }
  span.cap, span.sep {
    font-size: 28px;
    line-height: 54px;
  }
  span.avail {
    font-size: 44px;
    line-height: 44px;
  }
  span.sep {
    padding: 0px 10px;
  }
  .skill img {
    height: 50px;
  }
  .skill span {
    font-size: 18px;
  }
  .md-padding {
    padding: 16px;
    padding-top: 0px;
  }
  .detail-row h3 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #4a4a4a;
  }
  .detail-field img {
    width: 100%;
  }
  .swipe-field.layout-fill.flex {
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 18px;
    border: solid 1px #dadada;
    vertical-align: center;
    font-size: 16px;
  }
  img.swipe-ball {
    height: 30px;
    margin-bottom: 6px;
  }
  .gender img {
    width: 30px;
    height: auto;
    margin-left: 0px;
    margin-right: 8px;
  }
  .first-row img {
    margin: 0px;
  }
  .md-padding.content {
    position: absolute;
    top: 130px;
    color: #fff;
  }
  .safety.layout-align-end-end.layout-row.flex {
    margin-left: 50px;
  }
  .md-padding.content h3 {
    margin-bottom: 0px;
  }
  img.vending {
    padding-left: 2px;
    height: 20px;
    width: auto;
  }