<div layout="column" layout-fill>
<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span flex>kickapp - signup</span>
    </h2>
  </div>
</md-toolbar>
<md-content class="md-padding">
    <md-card class="register-card">
      <md-card-content>
        <form layout="column" name="form" ng-submit="register(form)" novalidate>
          <md-input-container class="md-input-container">
            <label>Name</label>
            <input required name="name" ng-model="user.name">
            <div ng-messages="form.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-input-container">
            <label>Gender</label>
            <md-select ng-model="user.gender">
              <md-option ng-repeat="gender in genders" md-selected-text="getSelectedGender()" >
                {{gender}}
              </md-option>
            </md-select>
            <div ng-messages="form.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>


            <label class="custom-label">Skill Level </label>
            <md-slider flex md-discrete ng-model="user.skill" step="1" min="1" max="5" aria-label="rating" class="md-primary">
            </md-slider>


            <label class="custom-loc-label">Preferred Locations:</label>
            <md-chips class="custom-chips" ng-model="preferredLocations"  md-max-chips="5"></md-chips>


          <md-input-container class="md-input-container">
            <label>Email</label>
            <input required name="email" type="email" ng-model="user.email">
            <div ng-messages="form.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-input-container">
            <label>Password</label>
            <input required type="password" name="password" ng-model="user.password">
            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-button class="md-primary" type="submit" ng-click="clicked()">Sign up</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>

</md-content>
</div>
